<%= image_tag @user.image , style:"display:inline; margin-bottom:5px;" %>
<span><%= @user.name %></span>
<span style="color: #0cd;"><%= @user.email if @user.email %></span>
<%= gmaps4rails(@user.people_of_interest(3000).uniq.to_gmaps4rails) %>
<h3> Interests</h3>
<%- @interests.each do |interest| %>
  <h6> <%= interest.name %> <h6>
<% end %>
