<%= link_to image_tag("logo.png", :alt=>"SOCIALIZE",  :width=>"200"), root_path, class: "brand" %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'My account', user_path(id: current_user) %>
    </li>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Update Interests', update_interests_user_path(id: current_user.id) %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
    <%= link_to image_tag("button.png"), user_omniauth_authorize_path(:facebook) %>
    </li>
  <% end %>
</ul>
